[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
	ignore = untracked
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
	ignore = untracked
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz.git
	ignore = untracked
[submodule "SDL"]
	path = SDL
	url = https://github.com/pbsurf/SDL.git
	ignore = untracked
[submodule "nanovgXC"]
	path = nanovgXC
	url = https://github.com/Tear4Pixelation/nanovgXC.git
	ignore = untracked
[submodule "ulib"]
	path = ulib
	url = https://github.com/Tear4Pixelation/ulib.git
	ignore = untracked
[submodule "usvg"]
	path = usvg
	url = https://github.com/Tear4Pixelation/usvg.git
	ignore = untracked
[submodule "ugui"]
	path = ugui
	url = https://github.com/Tear4Pixelation/ugui.git
	ignore = untracked
[submodule "mupdf"]
	path = mupdf
	url = https://github.com/ArtifexSoftware/mupdf.git
	ignore = untracked
